<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.balls.mapper.ArticleMapper">

    <select id="bulkAddArticle" resultType="com.balls.pojo.ArticleContent">
        SELECT * FROM article_content ;
    </select>

    <select id="getArticleList" resultType="com.balls.pojo.ArticleContent">
        SELECT article_id,uid,content,address,time,gmt_create,state FROM article_content WHERE uid = #{uid};
    </select>

    <select id="getArticleIdList" resultType="String">
        SELECT article_id FROM article_content WHERE uid = #{uid} AND state = 0;
    </select>

    <select id="getArticle" resultType="com.balls.pojo.ArticleContent">
        SELECT article_id,uid,content,address,time,gmt_create,state FROM article_content WHERE article_id = #{articleId};
    </select>

    <select id="getComment" resultType="com.balls.pojo.ArticleComment">
        SELECT * FROM article_comment WHERE article_id = #{articleId};
    </select>

    <insert id="addArticle" >
        INSERT INTO article_content (article_id,uid,content,address,time,gmt_create) VALUES
        (#{articleId},#{uid},#{content},#{address},#{time},#{gmtCreate})
    </insert>

    <insert id="addComment" >
        INSERT INTO article_comment (uid,article_id,comment,gmt_create) VALUES
            (#{uid},#{articleId},#{comment},#{gmtCreate})
    </insert>

    <select id="getInfo" resultType="com.balls.pojo.ArticleUser">
        SELECT uid,username,head_sculpture FROM user_info WHERE uid = #{uid};
    </select>

    <update id="updateArticle" >
        UPDATE article_content SET content=#{content},address=#{address},time=#{time} WHERE article_id=#{articleId};
    </update>

    <delete id="deleteArticle" >
        DELETE FROM article_content WHERE article_id=#{articleId};
    </delete>

    <delete id="deleteComment">
        DELETE FROM article_comment WHERE comment_id = #{commentId}
    </delete>

    <select id="getCreateTime" resultType="string">
        SELECT gmt_create FROM article_content WHERE article_id = #{articleId};
    </select>

    <update id="updateArticleState">
        UPDATE article_content SET state = 1 WHERE article_id = #{articleId};
    </update>

</mapper>
